@import "../variables";

.contractor-page,
.form {
  button {
    background-color: $dark-blue;
    color: $white;
    font-size: 1.1rem;
    padding: 5px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
  }

  button + button {
    margin-left: 10px;
  }

  label {
    font-size: 1.1rem;
    width: 200px;
    display: inline-block;
  }

  input {
    background-color: $light;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    color: $black;
    height: 40px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .items {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;

    .item {
      position: relative;
      width: 200px;
      height: 330px;
      button {
        height: 30px;
      }
    }
  }

  // .box {

  // }
}
