@import "../variables";

.login-page {
  background-color: rgba($light-grey, 0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  .panel {
    background-color: $white;
    width: 1400px;
    height: 90vh;
    border-radius: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    * {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .item-1 {
      top: 10%;
    }
    .item-2 {
      top: 15%;
      * {
        position: relative;
        margin: 10px 0;
        width: 300px;
        padding: 0;
      }
      .login {
        background-image: linear-gradient(to right, $yellow, $orange);
        border: none;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
      }
    }
    .item-3 {
      top: 60%;
      .block {
        position: relative;
        width: 10px;
        height: 100px;
      }
    }
    .item-4 {
      top: 66%;
      background-image: linear-gradient(to right, $yellow, $orange);
      width: 150px;
      font-family: 'Bebas Neue', cursive;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      color: $black;
      padding: 5px 2px;
      border: none;
    }
    input {
      width: 250px;
      height: 50px;
    }

    .close {
      top: 35px;
      left: 96.5%;
      img {
        width: 25px;
      }
    }
  }
}
