@import "../variables";

.login-page {
  background-color: rgba($light-grey, 0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @include font-simple;
  .panel {
    background-color: $white;
    width: 1400px;
    height: 90vh;
    border-radius: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    * {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .item-1 {
      top: 10%;
      font-size: 2rem;
    }
    .item-2 {
      top: 15%;
      * {
        position: relative;
        margin: 10px 0;
        width: 500px;
        padding: 0;
      }
      .login,
      .register {
        background-color: $new-blue;
        color: $new-white;
        border: none;
      }
    }
    .item-3 {
      top: 60%;
      font-size: 2rem;
      .block {
        position: relative;
        width: 10px;
        height: 100px;
      }
    }
    .item-4 {
      top: 66%;
      background-color: $new-blue;
      color: $new-white;
      width: 500px;
      height: 50px;
      display: flex;
      justify-content: center;
      // padding: 5px 2px;
      border: none;
      font-size: 1.5rem;
    }
    input {
      width: 250px;
      height: 80px;
    }

    .close {
      top: 22px;
      left: 96.5%;
      background-color: rgba($new-white, 0.7);
      padding: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      img {
        width: 25px;
      }
    }
    .close:hover {
      background-color: rgba($new-grey, 0.5);
    }
  }
}
