@import "../variables";

.planning-page {
  .content {
    margin-top: 20px;
    width: $content-width;
    .input-form-planning {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: $content-width;
      input {
        background-color: $light;
        margin: 0;
        padding: 0;
        border: none;
        color: $black;
        height: 70px;
        font-size: 1rem;
      }
      .submit-button {
        background-image: linear-gradient(to left, $yellow, $orange);
        font-size: 1.3rem;
        height: 50px;
        margin: 10px;
      }
    }
    .content-bottom {
      .content-bottom-left {
        display: inline-block;
        width: 1200px;
        .planning-navbar {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          height: 60px;
          background-color: $white;
          // border-bottom: 1px solid $medium-grey;
          .planning-navbar-button {
            display: flex;
            align-self: center;
            justify-self: center;
            width: 300px;
            height: 50px;
            justify-content: center;
            align-items: center;
            * {
              padding-top: 10px;
            }
            font-size: 1.5rem;
            // border-bottom: 10px solid $orange;
            margin-bottom: 10px;
          }
          .active {
            border-bottom: 10px solid $orange;
            margin-bottom: 0 !important;
          }
        }
      }
      .content-bottom-right {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        button {
          display: block;
          width: 90%;
          height: 50px;
          border: none;
          background-image: linear-gradient(to left, $yellow, $orange);
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          margin: 10px 0;
          font-size: 1.5rem;
        }
        .planning-cart {
          text-align: center;
          font-size: 1.5rem;
          padding-top: 10px;
          background-color: $light;
          height: auto;
          min-height: 400px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          .title {
            font-weight: 600;
          }
          .planning-cart-item {
            display: block;
            text-align: start;
          }
        }
      }
    }
  }
}
