@import "../variables";

.search-page-wrapper {
  .search-page {
    padding-top: 50px;
    .search-navbar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 40px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: $light;
      .search-navbar-button {
        font-size: 2rem;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
      }
    }
    min-height: 1000px;
  }
}