.card {
  width: 380px;
  height: 340px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 8px 8px 15px 0px $light-grey;
  position: relative;
  .image-wrapper {
    width: 380px;
    height: 270px;
    img {
      padding: 10px 10px 0 10px;
    }
  }
  .info-wrapper {
    height: 80px;
    padding: 0 10px;
    .title-wrapper {
      font-size: 2rem;
      height: 38px;
    }
    .subtitle-wrapper {
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: auto auto;
      .price-wrapper {
        display: flex;
        margin-right: auto;
      }
      .rating-wrapper {
        display: flex;
        margin-left: auto;
        font-weight: 600;
      }
    }
  }
  .info-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: $white;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: $white;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
