@import "../variables";

.card-list-home {
  background-color: $white;
  background-image: $noise;
  border-radius: 25px;
  padding-bottom: 25px;
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .title-wrapper {
    position: relative;
    height: 100px;
    .title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      font-family: 'Bebas Neue', cursive;
      background-color: $white;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}
