@import "../variables";

.card-list-home {
  background-color: $light;
  border-radius: 25px;
  padding-bottom: 25px;
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .title-wrapper {
    position: relative;
    height: 100px;
    .title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
    }
  }
}
