.card {
  width: 380px;
  height: 340px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 8px 8px 15px 0px $light-grey;
  position: relative;
  .image-wrapper {
    width: 380px;
    height: 270px;
    img {
      padding: 10px 10px 0 10px;
    }
  }
  .info-wrapper {
    height: 80px;
    padding: 0 10px;
    .title-wrapper {
      font-size: 2rem;
      height: 38px;
    }
    .subtitle-wrapper {
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: auto auto;
      .price-wrapper {
        display: flex;
        margin-right: auto;
      }
      .rating-wrapper {
        display: flex;
        margin-left: auto;
        font-weight: 600;
      }
    }
  }
  .info-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: $white;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: $white;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-info-wrapper {
    background-color: rgba($light-grey, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    .card-info {
      background-color: $white;
      z-index: 2;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1200px;
      height: 700px;
      border-radius: 5%;
      .top-wrapper {
        position: relative;
        .title {
          font-size: 3rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 5px;
        }
        .close-icon {
          width: 20px;
          position: absolute;
          right: 30px;
          top: 25px;
        }
      }
      .mid-wrapper {
        position: relative;
        top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
        .left-wrapper {
          .image {
            width: 600px;
            margin-right: 10px;
          }
          .left-bottom-wrapper {
            
          }
        }
        .right-wrapper {
          text-align: justify;
          font-size: 1.5rem;
          margin-right: 10px;
        }
      }
      .bottom-wrapper {
        position: relative;
        top: 700px;
        .add-button-info {
          background-color: red;
        }
      }
    }
  }
}

.highlighted {
  background-image: linear-gradient(to top, $yellow, $orange) !important;
}

.orange {
  background-color: $orange !important;
}
