@import "../variables";

.navbar {
  background-color: $dark;
  display: grid;
  grid-template-columns: repeat(7, 200px);
  height: 50px;
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  background-color: $dark-blue;
  background-image: $noise;
  box-shadow: 0px -20px 44px -5px $light-blue;
  box-shadow: 20px 15px 309px -15px $dark-blue;
  .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: $white;
    * {
      text-decoration: none;
    }
  }
}
